<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=ART-ATTACK-PC\ANKAN;Initial Catalog=db_OnlineShop;Integrated Security=True"/>
    <add name="db_OnlineShopEntities" connectionString="metadata=res://*/Data_Model.csdl|res://*/Data_Model.ssdl|res://*/Data_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ART-ATTACK-PC\ANKAN;Initial Catalog=db_OnlineShop;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
		<siteMap enabled="true">
			<providers>
				<add name="SellerConfig" type="System.Web.XmlSiteMapProvider" siteMapFile="WebSeller.sitemap"/>
				<add name="AdminConfig" type="System.Web.XmlSiteMapProvider" siteMapFile="WebAdmin.sitemap"/>
				<add name="CustomerConfig" type="System.Web.XmlSiteMapProvider" siteMapFile="WebCustomer.sitemap"/>
			</providers>
		</siteMap>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
